<header>
    <h1><%- theme.subtitle_main %></h1>
    <p><%- theme.susbtitle_secondary %></p>
</header>

<main>
    <% page.posts.forEach(function(item, index){ %>
        <%- partial('_partial/article-index', {item: item, index: index}) %>
    <% }); %>

        <div class="paginate">
            <div class="newer">
                <a href="/">< newer posts</a>
            </div>
            <div class="older">
                <a href="/">older posts ></a>
            </div>
        </div>

</main>

<%- partial('_partial/pagination') %>
