<!DOCTYPE html>
<html lang="ja">
<!-- Head tag -->
<%- partial('_partial/head') %>
<body>
<div id="wrapper">
    <%- partial('_partial/menu') %>
    <div class="container">
        <main>
            <article>
                <div class="article-header">
                    <div class="article-category">
                        <a href="/">Techs</a>
                    </div>
                    <div class="article-title">
                        <a href="/">first post</a>
                    </div>
                    <div class="article-created">
                        2020.10.12
                    </div>
                </div>
                <div class="article-image">
                    <img src="https://dummyimage.com/800x400/aaaaaa/404040/">
                </div>
                <div class="article-content">
                    <div class="reading">
                        最初の記事です。ああああああああああああああああああああああああ
                    </div>
                    <div class="entry-more">
                        <a href="/">
                            Read more
                        </a>
                    </div>
                </div>
            </article>
            <article>
                <div class="article-header">
                    <div class="article-category">
                        <a href="/">Techs</a>
                    </div>
                    <div class="article-title">
                        <a href="/">first post</a>
                    </div>
                    <div class="article-created">
                        2020.10.12
                    </div>
                </div>
                <div class="article-image">
                    <img src="https://dummyimage.com/800x400/aaaaaa/404040/">
                </div>
                <div class="article-content">
                    <div class="reading">
                        最初の記事です。ああああああああああああああああああああああああ
                    </div>
                    <div class="entry-more">
                        <a href="/">
                            Read more
                        </a>
                    </div>
                </div>
            </article>
            <div class="paginate">
                <div class="newer">
                    <a href="/">< newer posts</a>
                </div>
                <div class="older">
                    <a href="/">older posts ></a>
                </div>
            </div>
        </main>
    </div>
    <%- partial('_partial/footer.ejs') %>
    <!-- After footer scripts -->
    <%- partial('_partial/after-footer') %>
</div>

</body>
</html>