
<%
var tags = [];
item.tags.forEach(function(tag){
    tags.push('<a href="' + config.root + tag.path + '" class="button small">' + tag.name + '</a>');
});
%>

<div class="tags">
    <%- tags.join(' ') %>
</div>

<%
var cate = [];
item.categories.forEach(function(c){
    cate.push('<a href="' + config.root + c.path + '" class="button small">' + c.name + '</a>');
});
%>

<div class="tags">
    <%- cate.join(' ') %>
</div>

