<% if(page.prev || page.next) { %>

<section>
    <div class="paginate">
        <div class="newer">
            <% if (page.prev) { %>
                <a href="<%- config.root %><%- page.prev_link %>">< newer posts</a>
            <% } %>
        </div>
        <div>

        </div>
        <div class="older">
            <% if (page.next) { %>
                <a href="<%- config.root %><%- page.next_link %>">older posts ></a>
            <% } %>
        </div>
    </div>
</section>

<% } %>
